@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
  line-height: 3;
}

/* *색깔 */
.stars {
  color: red;
}

head {
  display: none;
}

body {
  display: block;
  background: white;
  padding: 20px;
}

.wrap {
  background: white;
  width: 640px;
  margin: 0 auto;
}

.allall {
  background: white;
  padding: 20px;
  width: 640px;
}

.signup {
  margin-bottom: 50px;
  margin: 0 auto;
  text-align: center;
}

.must {
  border-bottom: 2px solid black;
  padding-bottom: 20pxpx;
  text-align: right;
}

/* .ditails {
  border-bottom: 1px solid black;
} */

/* ul */
ul li {
  list-style: none;
}

.ditails label {
  margin-top: 20px;
  float: left;
  font-size: 14px;
  width: 130px;
  line-height: 20px;
}

/* .ditails input {
  margin-top: 20px;
  width: 350px;
  height: 46px;
} */

#userid,
#pwd1,
#pwd2,
#username,
#email,
#tel,
#yaer,
#address,
#loc_p1 {
  margin-top: 10px;
  width: 350px;
  height: 40px;
}

#address {
  border-color: aqua;
  background: white;
}

#loc_p1 {
  display: block;
  margin: 0 auto;
}

button {
  border-color: aqua;
  background: white;
  margin-top: 10px;
  width: 100px;
  height: 40px;
}

.half_part {
  border-top: 1px solid black;
  margin-top: 40px;
  height: 350px;
}

.terms {
  width: 130px;
  height: 350px;
  display: block;
  text-align: left;
  float: left;
  margin-top: -15px;
}

.use_terms {
  width: 450px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  line-height: 20px;
}

#use_p1,
#use_p2 {
  font-size: 12px;
}

#btn_see1,
#btn_see2,
#btn_see3 {
  border-style: none;
  text-align: right;
}

.sign_over {
  width: 640px;
  padding: 30px 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

#f_btn {
  width: 240px;
  padding: 0 10px;
  border-radius: 4px;
  height: 56px;
  text-align: center;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.gender_all {
  margin-top: 20px;
  display: flex;
}

/* 
<div class="sign-boundarty"></div>

<div class="sign-halfpart">
  <div class="halfpart-scope">
    <div class="halfpart-use">
        <label class="halfpart-use-agree" for="terms">이용약관동의</label
        ><span class="stars">*</span>
    </div>

    <div class="halfpart-use-terms">
      <div class="use-terms-detai">
        <label for="">
          <input
            class=""
            type="checkbox"
            name="Termsall"
            id="Termsall"
          />
          <img src="" alt="" />
          <span>전체 동의합니다.</span>
        </label>
        <p id="use_p1">
          선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를
          이용할 수 있습니다.
        </p>
      </div>
      <div>
        <div>
          <label for="">
            <input
              class=""
              type="checkbox"
              name="requ-Termsall-1"
              id="requ-Termsall-1"
            />
            <img src="" alt="" />
            <span>이용약관 동의</span>
          </label>
          <span>(필수)</span>
        </div>
        <a href="#">약관보기></a>
      </div>
      <div>
        <label for="">
            <input
              class=""
              type="checkbox"
              name="requ-Termsall-3"
              id="requ-Termsall_3"
            />
            <img src="" alt="" />
            <span>개인정보 수집/이용 동의</span>
          </label>
          <span>(필수)</span>
        </div>
        <a href="#">약관보기></a>
      </div>
      <div>
        <label for="">
            <input
              class=""
              type="checkbox"
              name="requ-Termsall-3"
              id="requ-Termsall-3"
            />
            <img src="" alt="" />
            <span>개인정보 수집/이용 동의</span>
          </label>
          <span>(선택)</span>
        </div>
        <a href="#">약관보기></a>
      </div>

      <div>
        <div>
            <label for="">
                <input
                  class=""
                  type="checkbox"
                  name="requ-Termsall-4"
                  id="requ-Termsall-4"
                />
                <img src="" alt="" />
                <span>무료배송, 할인쿠폰 등 혜택/정보 수신 동의</span>
              </label>
              <span>(선택)</span>
        </div>
        <div>
            <label for="">
                <input
                  class=""
                  type="checkbox"
                  name="requ-Termsall-41"
                  id="requ-Termsall-41"
                />
                <img src="" alt="" />
                <span>SMS</span>
              </label>
              <label for="">
                <input
                  class=""
                  type="checkbox"
                  name="requ-Termsall-42"
                  id="requ-Termsall-42"
                />
                <img src="" alt="" />
                <span>이메일</span>
              </label>
        </div>
        <div>
            <p id="use_p2">
                동의 시 한 달간 [5%적립] + [2만원 이상 무료배송] 첫 주문
                후 안내
            </p>
        </div>
      </div>
      <div>
        <label for="">
            <input
              class=""
              type="checkbox"
              name="requ-Termsall-5"
              id="requ-Termsall-5"
            />
            <img src="" alt="" />
            <span>본인은 만 14세 이상입니다.</span>
          </label>
          <span>(필수)</span>
      </div>
    </div>
  </div>
</div> */
